.main {
  position: relative;

  .back_base {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .avatar {
    position: absolute;
    top: 15%;
    right: 20%;
    width: 23%;
    height: 70%;
    object-fit: cover;
    border-radius: 32px;
    box-shadow: 0 32px 64px var(--color-neutral);
    cursor: pointer;
  }
}
