$sizes: (
  "2xl": (
    circle: 24%,
    delay: 0s,
    duration: 3s,
    buttonHeight: 64px,
    buttonGap: 20px,
    buttonPadding: 0 20px,
    buttonFontSize: 16px,
    buttonBorderRadius: 26px,
    buttonIconSize: 24px,
    switchHeight: 40px,
    switchWidth: 108px,
    switchIconSize: 24px,
  ),
  "xl": (
    circle: 19%,
    delay: 0.3s,
    duration: 2.6s,
    buttonHeight: 56px,
    buttonGap: 20px,
    buttonPadding: 0 20px,
    buttonFontSize: 16px,
    buttonBorderRadius: 22px,
    buttonIconSize: 24px,
    switchHeight: 32px,
    switchWidth: 86px,
    switchIconSize: 20px,
  ),
  "l": (
    circle: 14%,
    delay: 0.6s,
    duration: 2.3s,
    buttonHeight: 48px,
    buttonGap: 16px,
    buttonPadding: 0 16px,
    buttonFontSize: 14px,
    buttonBorderRadius: 18px,
    buttonIconSize: 22px,
    switchHeight: 24px,
    switchWidth: 64px,
    switchIconSize: 14px,
  ),
  "m": (
    circle: 11.5%,
    delay: 0.9s,
    duration: 2s,
    buttonHeight: 40px,
    buttonGap: 12px,
    buttonPadding: 0 12px,
    buttonFontSize: 12px,
    buttonBorderRadius: 18px,
    buttonIconSize: 16px,
    switchHeight: 20px,
    switchWidth: 54px,
    switchIconSize: 14px,
  ),
  "s": (
    circle: 9.3%,
    delay: 1.2s,
    duration: 1.8s,
    buttonHeight: 32px,
    buttonGap: 8px,
    buttonPadding: 0 8px,
    buttonFontSize: 12px,
    buttonBorderRadius: 12px,
    buttonIconSize: 16px,
    switchHeight: 14px,
    switchWidth: 44px,
    switchIconSize: 12px,
  ),
  "xs": (
    circle: 6%,
    delay: 1.5s,
    duration: 1.5s,
    buttonHeight: 24px,
    buttonGap: 6px,
    buttonPadding: 0 6px,
    buttonFontSize: 12px,
    buttonBorderRadius: 8px,
    buttonIconSize: 12px,
    switchHeight: 10px,
    switchWidth: 28px,
    switchIconSize: 8px,
  ),
);
