$sizes: (
  "2xl": (
    circle: 256px,
  ),
  "xl": (
    circle: 192px,
  ),
  "l": (
    circle: 160px,
  ),
  "m": (
    circle: 128px,
  ),
  "s": (
    circle: 80px,
  ),
  "xs": (
    circle: 56px,
  ),
);
