$themes: (
  default: (
    primary: var(--palette-violet-500),
    secondary: var(--palette-blue-500),
    positive: var(--palette-green-500),
    attention: var(--palette-amber-500),
    negative: var(--palette-rose-500),
    extralight: var(--palette-gray-true-100),
    light: var(--palette-gray-true-200),
    neutral: var(--palette-gray-true-500),
    dark: var(--palette-gray-true-700),
    extradark: var(--palette-gray-true-900),
  ),
  firecracker: (
    primary: var(--palette-orange-500),
    secondary: var(--palette-amber-500),
    positive: var(--palette-lime-500),
    attention: var(--palette-yellow-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-warm-100),
    light: var(--palette-gray-warm-200),
    neutral: var(--palette-gray-warm-500),
    dark: var(--palette-gray-warm-700),
    extradark: var(--palette-gray-warm-900),
  ),
  life: (
    primary: var(--palette-lime-500),
    secondary: var(--palette-life-500),
    positive: var(--palette-green-500),
    attention: var(--palette-amber-500),
    negative: var(--palette-pink-500),
    extralight: var(--palette-gray-true-100),
    light: var(--palette-gray-true-200),
    neutral: var(--palette-gray-true-500),
    dark: var(--palette-gray-true-700),
    extradark: var(--palette-gray-true-900),
  ),
  ocean: (
    primary: var(--palette-blue-500),
    secondary: var(--palette-sky-500),
    positive: var(--palette-teal-500),
    attention: var(--palette-orange-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-cool-100),
    light: var(--palette-gray-cool-200),
    neutral: var(--palette-gray-cool-500),
    dark: var(--palette-gray-cool-700),
    extradark: var(--palette-gray-cool-900),
  ),
  alternative: (
    primary: var(--palette-rose-500),
    secondary: var(--palette-indigo-500),
    positive: var(--palette-life-500),
    attention: var(--palette-yellow-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-warm-100),
    light: var(--palette-gray-warm-200),
    neutral: var(--palette-gray-warm-500),
    dark: var(--palette-gray-warm-700),
    extradark: var(--palette-gray-warm-900),
  ),
);
