.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;

  .texts {
    &_lh {
      line-height: 1.5;
    }

    &_primary {
      color: var(--color-primary);
    }

    &_right {
      text-align: right;
    }

    &_mb8 {
      margin-bottom: 8px;
    }

    &_mb16 {
      margin-bottom: 16px;
    }
  }

  &_block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .techblock {
      width: 100%;
      padding: 12px;
      background-color: var(--mode-color-extrabright);
      border-radius: 16px;
    }

    .flexrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}
