$circles: ("primary", "secondary", "positive", "attention", "negative");
$sizes: ("2xl", "xl", "l", "m", "s", "xs");

@keyframes circle-brightness {
  0% {
    filter: saturate(100%) brightness(1);
  }
  33% {
    filter: saturate(90%) brightness(0.9);
  }
  66% {
    filter: saturate(120%) brightness(1.3);
  }
  100% {
    filter: saturate(100%) brightness(1);
  }
}

.circles {
  width: 90%;
  height: 80%;
  position: relative;

  .circle {
    --circle-size: var(--size-2xl-circle);
    --circle-bg-color: var(--color-primary);
    --circle-border-color: var(--color-primary-200);
    --circle-duration: 2s;
    --circle-delay: 0s;
    --circle-icon-size: 20%;
    --circle-min-icon-size: 24px;

    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: var(--circle-size);
    min-width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--circle-bg-color);
    transition: 0.08s linear;
    box-shadow: 0 16px 56px var(--circle-bg-color);
    animation: circle-brightness infinite ease-in-out var(--circle-duration)
      var(--circle-delay);

    text-decoration: none;
    color: var(--palette-mono-white);
    font-size: 16px;
    font-weight: 600;

    &_icon {
      fill: var(--palette-mono-white);
      width: var(--circle-icon-size);
      min-width: var(--circle-min-icon-size);
      height: var(--circle-icon-size);
      min-height: var(--circle-min-icon-size);
    }

    &:hover {
      animation: none;
      filter: saturate(120%) brightness(1.3);
      box-shadow: 0 16px 80px var(--circle-bg-color);
    }

    &:active {
      animation: none;
      filter: saturate(90%) brightness(0.9);
    }
  }

  @each $color in $circles {
    .circle_#{$color} {
      --circle-bg-color: var(--color-#{$color});
      --circle-border-color: var(--color-#{$color}-400);
    }
  }

  @each $size in $sizes {
    .circle_#{$size} {
      --circle-size: var(--size-#{$size}-circle);
      --circle-delay: var(--size-#{$size}-delay);
      --circle-duration: var(--size-#{$size}-duration);
    }
  }
}
