.home {
  --avatar-border-width: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  .texts {
    width: 100%;

    &_left {
      text-align: right;
    }

    &_bright {
      color: var(--palette-gray-true-200);
    }

    &_primary {
      color: var(--color-primary);
    }

    &_contrast {
      font-weight: 600;
      color: var(--color-attention);
    }

    &_space {
      margin-bottom: 12px;
    }

    &_fontsize14 {
      font-size: 14px;
    }

    &_fontsize48 {
      font-size: 48px;
      margin-bottom: 12px;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
    margin-bottom: 32px;

    &_photo {
      position: relative;
      width: 50%;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;

      &_image {
        width: 100%;
        height: 100%;
        border-radius: 50% 50% 50% 32px;
        object-fit: cover;
        border: var(--avatar-border-width) solid var(--color-primary);
      }

      &_link {
        --link-color: var(--palette-mono-white);

        position: absolute;
        bottom: 24px;
        left: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;

        &_icon {
          fill: var(--link-color);
          width: 16px;
          height: 16px;
          transition: 0.08s linear;
        }

        &_text {
          color: var(--link-color);
          transition: 0.08s linear;
        }

        &:hover {
          --link-color: var(--color-primary-400);
        }

        &:active {
          --link-color: var(--color-primary-600);
        }
      }
    }
  }
}
