$colors: ("primary", "secondary", "positive", "attention", "negative");
$sizes: ("2xl", "xl", "l", "m", "s", "xs");

.button {
  --button-height: var(--size-2xl-buttonHeight);
  --button-width: fit-content;
  --button-gap: var(--size-2xl-buttonGap);
  --button-padding: var(--size-2xl-buttonPadding);
  --button-color: var(--mode-color-bright);
  --button-shadow-color: transparent;
  --button-border-radius: var(--size-2xl-buttonBorderRadius);
  --button-font-size: var(--size-2xl-buttonFontSize);
  --button-font-color: var(--mode-color-neutral);
  --button-icon-size: var(--size-2xl-buttonIconSize);
  --button-direction: row;
  --button-cursor: pointer;

  cursor: var(--button-cursor);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: var(--button-direction);
  gap: var(--button-gap);
  width: var(--button-width);
  height: var(--button-height);
  padding: var(--button-padding);
  box-shadow: 0 4px 16px var(--button-shadow-color);
  border-radius: var(--button-border-radius);

  color: var(--button-font-color);
  font-weight: 600;
  font-size: var(--button-font-size);

  &_inversed {
    --button-direction: row-reverse;
  }

  &_ghost {
    --button-font-color: var(--mode-color-intense);
  }

  &_disabled {
    --button-cursor: default;
  }

  .button_icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    fill: var(--button-font-color);
  }

  .button_shape {
    fill: var(--button-color);
  }

  @each $size in $sizes {
    &_#{$size} {
      --button-height: var(--size-#{$size}-buttonHeight);
      --button-gap: var(--size-#{$size}-buttonGap);
      --button-padding: var(--size-#{$size}-buttonPadding);
      --button-font-size: var(--size-#{$size}-buttonFontSize);
      --button-icon-size: var(--size-#{$size}-buttonIconSize);
    }
  }

  @each $color in $colors {
    &_#{$color} {
      --button-color: var(--color-#{$color});
      --button-shadow-color: var(--color-#{$color});
      --button-font-color: var(--palette-mono-white);
    }
  }
}
